<ion-app>
  <ion-content>
        <swiper-container [modules]="swiperModules">
          <swiper-slide>
            <div class="slide">
              <h2>Welcome</h2>
              <p>
                The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a
                demonstration of proper code use.
              </p>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="slide">
              <h2>Welcome</h2>
              <p>
                The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a
                demonstration of proper code use.
              </p>
              </div>
          </swiper-slide>
          <swiper-slide>
            <div class="slide">
              <h2>Welcome</h2>
              <p>
                The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a
                demonstration of proper code use.
              </p>
              </div>
          </swiper-slide>
        </swiper-container>
  </ion-content>
</ion-app>
