@import "../../../assets/scss/color-pallete.scss";
.cake-display{
    display: flex;
    justify-content: center;
    ion-img{
        width: 52vh;
        margin-top: 2vh;
    }
}
.description-head{
    h2{
        margin-left: 1.7vh;
        font-family: revert;
        font-size: 4vh;
    }
}
.description{
    p{
        width: calc(100% - 3vh);
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
    }
}
.Prices-row{
    .price-head{
        padding-left: 2vh;
        height: 1vh;
    }
    .price{
        font-size: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1vh;
        padding-top: 5vh;
    }
}
.cart-col{
    display: flex;
    justify-content: center;
}
.place-bottom{
    position: relative;
    top: calc(100% - 70vh);
}
.addCart{
    width: 21vh;
    height: 6vh;
    --background: orange;
    --border-radius: 2vh;
}
.buyNow{
    width: 21vh;
    height: 6vh;
    --background: #0d8b01;
    --border-radius: 2vh;
}

.adjust-back{
    position: absolute;
    z-index: 3;
    left: 2vh;
    top: 3vh;
    ion-img{
        width: 4vh;
    }
}