<main>
  <ion-row>
    <ion-col size="12" class="cake-display">
      <ion-img [src]="cake?.cake_img"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="description-head">
      <h2>Description</h2>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="description">
      <p>{{cake?.description}}
      </p>
    </ion-col>
  </ion-row>
  <ion-row class="Prices-row">
    <ion-col size="6" class="price-head">
      <h2>
        Price    
      </h2>
    </ion-col>
    <ion-col class="price" size="6">₹ {{cake?.price}}</ion-col>
  </ion-row>
</main>