
    <ion-tabs>
        <ion-tab-bar class="blacked" slot="bottom">
            <ion-tab-button tab="gallery">
                <ion-icon src="assets/svgs/gallery.svg"></ion-icon>
                <ion-label color="light">Gallery</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="invoice">
                <ion-icon src="assets/svgs/invoice.svg"></ion-icon>
                <ion-label color="light">Invoice</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

