<ion-header>
 <ion-row>
     <ion-col size="6">
         <ion-card class="neumorphism">
            <ion-icon  src="assets/svgs/whatsapp.svg"></ion-icon>
            <span class="move-right">
                Contact
            </span>
         </ion-card>
     </ion-col>
     <ion-col size="6">
        <ion-card class="neumorphism d-flex flex-row">
            <ion-img class="adjust-img" src="assets/svgs/cargo.png"></ion-img>
            <span class="move-right">
                Orders
            </span>
        </ion-card>
     </ion-col>
 </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
</ion-content>
